Hola <%= user.fullName %>,

Bienvenido a la comunidad Givet.

Su código de activación es: <%= user.verifyShortToken %>

Sus credenciales son;
usuario: <%= user.userName %>
contraseña: <%= user.password2 %>

Atentamente,

El equipo Givet
